html
  head
    title Geospatial Example
    link(href='/components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    | <a href="https://github.com/stakisko/nodejs-mongo-geospatial-queries"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="ta-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
    .container
      h1.results Check this out
      form.form-horizontal.search-city-form(action="/available", method="post", role="form")
        .form-group
          input.form-control#city(name="city",placeholder="Type your city")
        .form-group
          #map-canvas(style="height:400px")
        input.hidden(name="cityCanonicalName",type="hidden")
        input.hidden(name="cityLat",type="hidden")
        input.hidden(name="cityLng",type="hidden")
        input.hidden(name="cityCountryCode",type="hidden")
        .form-group
          button.btn.btn-primary.btn-lg.btn-block(type="submit",disabled) Register
    script(src="https://maps.googleapis.com/maps/api/js?libraries=places")
    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/app.js")